<ion-view title="Ajustes" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="home" id="backOptVehicle" class="button button-icon icon ion-arrow-left-a"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="ajustes-form7" class="list">
      <label class="item item-select" id="ajustes-select2" name="option1">
        <span class="input-label">Ajuste1</span>
        <select>
          <option>Ajuste1.1</option>
          <option>Ajuste1.2</option>
        </select>
      </label>
      <ion-radio id="ajustes-radio4" name="op1">Ajuste2</ion-radio>
      <ion-radio id="ajustes-radio5" name="op1">Ajuste2</ion-radio>
      <ion-item class="range range-positive" id="ajustes-range1">Ajuste3
        <input type="range" value="50" min="0" max="100" step="1" name="option3">
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="ajustes-toggle5" name="option4">Ajuste4</ion-toggle>
    </form>
    <a ui-sref="inicio" id="ajustes-button13" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Cerrar Sesion</a>
  </ion-content>
</ion-view>
