<ion-view title="Busqueda Avanzada" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="home" id="backPostVehicle" class="button button-icon icon ion-arrow-left-a"></a>  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="busquedaAvanzada-form10" class="list">
      <label class="item item-select" id="busquedaAvanzada-select6" name="make">
        <span class="input-label">Fabricante</span>
        <select>
          <option>Alfa Romeo</option>
          <option>Nissan</option>
        </select>
      </label>
      <label class="item item-input" id="busquedaAvanzada-input37" name="from">
        <span class="input-label">De</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input38" name="to">
        <span class="input-label">A</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input29" name="model">
        <span class="input-label">Modelo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input30" name="line">
        <span class="input-label">Linea</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input31" name="odometer">
        <span class="input-label">Odometro</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input32" name="price">
        <span class="input-label">Precio</span>
        <input type="number" placeholder="200">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input40" name="priceMin">
        <span class="input-label">Precio min</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input41">
        <span class="input-label">Precio max</span>
        <input type="number" placeholder="priceMax">
      </label>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="busquedaAvanzada-toggle7" name="negotiable">Precio Negociable</ion-toggle>
      <label class="item item-input" id="busquedaAvanzada-input33" name="motor">
        <span class="input-label">Motor</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input34" name="cilinders">
        <span class="input-label">Cilindros</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="busquedaAvanzada-select7" name="chasisType">
        <span class="input-label">Tipo de chasis</span>
        <select>
          <option>IDK</option>
          <option>NPI</option>
        </select>
      </label>
      <label class="item item-select" id="busquedaAvanzada-select8" name="color">
        <span class="input-label">Color</span>
        <select>
          <option>Azul</option>
          <option>Rojo</option>
          <option>Amarillo</option>
        </select>
      </label>
      <label class="item item-input" id="busquedaAvanzada-input35" name="transmision">
        <span class="input-label">Transmision</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="busquedaAvanzada-input36" name="interior">
        <span class="input-label">Interior</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="vehiculos" id="busquedaAvanzada-button19" class="button button-positive  button-block">Buscar Vehiculo</a>
    </form>
  </ion-content>
</ion-view>
