<ion-view  id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="inicio" id="backPostVehicle" class="button button-icon icon ion-arrow-left-a"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="crearUnaCuenta-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Crear una cuenta</p>

      <p style="color:#000000;">es gratis</p>
    </div>
    <form id="crearUnaCuenta-form2" class="list">
      <ion-list id="crearUnaCuenta-list1">
        <label class="item item-input item-floating-label" id="crearUnaCuenta-input4" name="name">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre" ng-model="data.name">
        </label>
        <label class="item item-input item-floating-label" id="crearUnaCuenta-input5" name="number">
          <span class="input-label">Numero</span>
          <input type="number" placeholder="Numero" ng-model="data.number">
        </label>
        <label class="item item-input item-floating-label" id="crearUnaCuenta-input6" name="email">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="Correo" ng-model="data.email">
        </label>
      </ion-list>
      <label class="item item-input item-floating-label" id="crearUnaCuenta-input7" name="city">
        <span class="input-label">Ciudad</span>
        <input type="text" placeholder="Ciudad" ng-model="data.city">
      </label>
      <label class="item item-select" id="crearUnaCuenta-select1" name="accountType">
        <span class="input-label">Tipo de cuenta</span>
        <select ng-model="data.accountType">
          <option>Individuo</option>
          <option>Concesionara Base</option>
          <option>Concesionara Premium</option>
        </select>
      </label>
      <label class="item item-input item-floating-label" id="crearUnaCuenta-input10" name="dpi">
        <span class="input-label">DPI</span>
        <input type="text" placeholder="DPI" ng-model="data.dpi">
      </label>
      <label class="item item-input item-floating-label" id="crearUnaCuenta-input11" name="birthday">
        <span class="input-label">Fecha de nacimiento</span>
        <input type="date" placeholder="Fecha de nacimiento" ng-model="data.birthday">
      </label>
      <label class="item item-input item-floating-label" id="crearUnaCuenta-input12" name="password">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="Ingresar Contraseña" ng-model="data.pass">
      </label>
      <button ng-click="createAc()" id="crearUnaCuenta-button3" class="button button-stable  button-block">Continuar</button>
    </form>
  </ion-content>
</ion-view>
