<ion-view title="Vehiculos" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="home" id="backPostVehicle" class="button button-icon icon ion-arrow-left-a"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="vehiculos-list2">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="vehiculos-list-item8">
        <img ui-sref="vistaDeVehiculo" src="img/aouqGJ6pSa5bBXsoRZ0d_images">
        <h2balanced>Carro1
          <p>$10000</p>
          <i class="icon ion-arrow-up-a"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="vehiculos-list-item5">
        <img src="img/vDyln4BSSK8qKtTfnlk5_6c6b165071a22ea96280dc43827e31fa.jpg">
        <h2balanced>Carro1
          <p>$2000</p>
          <i class="icon ion-arrow-up-a"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="vehiculos-list-item6">
        <img src="img/l7mvrKZOR8qXJ95XWrRd_carrosdelujo2.jpg">
        <h2assertive>Carro2
          <p>$7000</p>
          <i class="icon ion-arrow-down-a"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="vehiculos-list-item7">
        <img src="img/q85qHExEQ9OfrvOlFVbw_camaro.jpg">
        <h2assertive>Carro3
          <i class="icon ion-arrow-down-a"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
