<ion-view title="Vista de Vehiculo" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="vehiculos" id="backPostVehicle" class="button button-icon icon ion-arrow-left-a"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="vistaDeVehiculo-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="vistaDeVehiculo-slide24" style="background:url(&quot;img/kNriHepMS6ywbPdhG9pE_images&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="vistaDeVehiculo-slide25" style="background:url(&quot;img/2NvWzjRQV6tOV6iR5UMU_images&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="vistaDeVehiculo-slide26" style="background:url(&quot;img/E49ACZxIQqiKcqYjyjpM_hqdefault.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="vistaDeVehiculo-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este carro es muy bueno because reasons, ademas observese el color azul y la carroceria, [insertar texto que se quiera]</p>
    </div>
    <button id="vistaDeVehiculo-button4" class="button button-positive  button-block">Solicitar reunion </button>
  </ion-content>
</ion-view>
